.git
.gitignore
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.mypy_cache
.pytest_cache
.hypothesis
*.egg-info
.installed.cfg
*.egg
.env
.env.*
db.sqlite3
*.sqlite3
Dockerfile
docker-compose.yml
.dockerignore
